.craft-window {
	padding: 1em;
}

.crafts {
	display: flex;
	justify-content: space-between;
}

.craft {
	flex: 0 0 15%;
}

.crafted-item {
	flex: 0 1 24%;
	border: 2px solid green;
	padding: 5px;

	.item-icon {
		float: left;
		height: 50%;
		max-height: 50px;
		width: 50%;
		max-width: 50px;
	}

	p {
		margin-left: 40px;
		margin-bottom: 0;
	}

	p + p {
		margin-top: 7px;
	}
}

.craft-seperator {
	flex: 0 0 4%;
}

label {
	display: block;
}

.crafted-items {
	display: flex;
	// justify-content: space-between;
	flex-wrap: wrap;

	> * {
		flex: 0 0 23%;
		margin: 1%;
	}
}

.rarity {
	outline: 12px solid #ac7339;
}

.rarity-0 {
  outline-color: #ac7339;
}

.rarity-1 {
	outline-color: #006600;
}

.rarity-2 {
	outline-color: #0000e6;
}

.rarity-3 {
	outline-color: #ff9900;
}

.rarity-4 {
	outline-color: #e600e6;
}




.prefix {
	border: 7px solid aqua;
	border-width: 7px 0 0 7px;
	//box-shadow: 10px 0px 20px yellow inset;
}

.prefix-0 {
	border: 7px solid aqua;
	border-width: 7px 0 0 7px;
	//box-shadow: 0px 10px 40px yellow inset;
}

.prefix-1 {
	border: 7px solid red;
	border-width: 7px 0 0 7px;
	//box-shadow: 0px 10px 40px green inset;
}


.suffix {
  box-shadow: inset 10px 10px 0px 0px aqua;
}

.suffix-0 {
  box-shadow: inset 10px 10px 0px 0px aqua;
}

.suffix-1 {
	box-shadow: inset 10px 10px 0px 0px red;
}
