.craft-window {
	padding: 1em;
}

.crafts {
	display: flex;
	justify-content: space-between;
}

.craft {
	flex: 0 0 15%;
}

.border-item {
	border-radius: 10px 10px 10px 10px solid black;
}

.crafted-item {
	flex: 0 1 24%;
	border: 10px solid black;
	padding: 5px;
	border-radius: 10px 10px 10px 10px;

	.item-icon {
		float: left;
		height: 50%;
		max-height: 50px;
		width: 50%;
		max-width: 50px;
	}

	p {
		margin-left: 40px;
		margin-bottom: 0;
	}

	p + p {
		margin-top: 7px;
	}
}

.craft-seperator {
	flex: 0 0 4%;
}

label {
	display: block;
}

.crafted-items {
	display: flex;
	// justify-content: space-between;
	flex-wrap: wrap;

	> * {
		flex: 0 0 23%;
		margin: 1%;
	}
}

/*.rarity {
	outline: 6px solid #ac7339;
}

.rarity-0 {
  outline-color: #ac7339;
}

.rarity-1 {
	outline-color: #006600;
}

.rarity-2 {
	outline-color: #0000e6;
}

.rarity-3 {
	outline-color: #ff9900;
}

.rarity-4 {
	outline-color: #e600e6;
}
*/



.prefix {
	padding: 100px;
  border-top: 10px solid blue;
	border-left: 10px solid blue;
	opacity: 50%;
	padding: 10px;
}

.prefix-0 {
	padding: 100px;
	border-top: 10px solid blue;
	border-left: 10px solid blue;
	opacity: 50%;
}
.prefix-1 {
	padding: 100px;
	border-top: 10px solid red;
	border-left: 10px solid red;
	opacity: 50%;
}


.suffix {
	padding: 100px;
  border-bottom: 10px solid blue;
	border-right: 10px solid blue;
	opacity: 50%;
}

.suffix-0 {
	padding: 100px;
	border-bottom: 10px solid blue;
	border-right: 10px solid blue;
	opacity: 50%;
}
.suffix-1 {
	padding: 100px;
	border-bottom: 10px solid red;
	border-right: 10px solid red;
	opacity: 50%;
	}
