.characters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.character {
	flex: 0 0 auto;
	width: 260px;
	// height: 200px;
	border: 1px solid green;
	background-color: #ffffff;
	opacity: 0.9;
	margin: 20px;
	padding: 10px;
}

.name-plate {
	margin-top: 1em;
	margin-bottom: 1em;
	// border: 1px solid red;
	display: grid;
	grid-template-columns: 60px auto;
	grid-template-rows: auto 19px 19px;
	grid-template-areas:
		"icon name"
		"icon health"
		"icon mana";
	grid-gap: 1px 2px;

	.health-bar {
		grid-area: health;
	}

	.mana-bar {
		grid-area: mana;
	}

	.character__icon {
		grid-area: icon;
		// width: 80px;
		// height: 80px;
	}

	.character__name {
		grid-area: name;
		margin: 0;
	}
}

.player-stats {
	> p {
		margin: 0;
	}

	> * + p {
		margin-top: 5px;
	}
}

.player-items {
	margin-top: 1em;
}
