.speed-bar {
	border: 1px solid black;
	// height: 20px;
	width: 100%;
	background-color: lightgrey;
	position: relative;
	text-align: center;

	.bar {
		background-color: yellow;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: auto;
		z-index: 1;
		transition: width 400ms linear;
	}

	.text {
		position: relative;
		z-index: 2;
	}
}
