html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
}

h1 {
	margin-top: 0;
}

#root {
	height: 100%;
}

p {
	margin-top: 0;
}

.button {
	background-color: #f9f9f9;
	color: #111111;
	border: 1px solid #111111;
	padding: 0.5em;
	font-size: 18px;
	text-decoration: none;
	font-family: inherit;
	text-transform: uppercase;
	letter-spacing: 0.85px;

	&:hover {
		opacity: 0.9;
		cursor: pointer;
	}
}

.button--large {
	font-size: 24px;
}
